.Finals {
    font-size:100%;
    color: white;
  }

.AboutPage {
  font-size:125%;
  color: white;
}

.heart {
  color: 	#ffd1dc;
  font-size: 160%;

}
  
h6 {
    margin-top: 0%;
    text-align: center;
    font-size: 75%;
    margin-bottom: 0%;
}

select {
  width: 25%;
  font-size:150%
}

.FullTable {
  color: white;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 150%;
}

.gradeInput {
  margin-left: 5%;
  width: 45%;
}

 

table {
  text-align: center;
  align-self: center;
  display: inline-table;
}


.icon {
  padding-right: 20px;
}

.icon2 {
  padding-right: 20px;
}



.icon:hover {
  color: #5f150a;
  cursor: pointer;
}

.icon2:hover {
  color: #28780c;
  cursor: pointer;
}



.Criteria {
  color: white;
  margin: auto;
  font-size: 150%;
  width: 50%;
  
} 
