.App {
  border: 10px;
  text-align: center;
  background-color: #3b3c36;
}

.App-choose {
  color: black;
}

input {
  font-size: 16px;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 10px;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button:hover{
  color: #0a5f10;
  border: #0a5f10 solid 1px;
  background:#fff;
  cursor: pointer;
}

button {
  background-color: rgb(223, 223, 219);
  border: 2px solid rgb(3, 3, 3);
  border-radius: 25px;
  display: inline-block;
  padding: 15px 32px;
  width: 45%;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


ul:hover {
  cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color:  #f2f4f7;
  overflow: hidden;
  color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
 
  float: left;
  color: #020205;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}